.env
discord_mysql.py
flaskpretty.py
last_cmd
.flask_session
.cache
tmpnotes.txt
.gitignore
cogs/__pycache__
__pycache__
.cache*
html5up-solid-state.zip
Frontend.py
templates/original_index_for_testing.html
templates/dashboard_test.html
cert.pem
key.pem
Spotipy_sql.py